trigger:
- master

variables:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

resources:
  repositories:
  - repository: templates
    type: github
    name: JeremyTCD/DevOps.AzurePipelines
    endpoint: JeremyTCD

jobs:
- template: nuget-package.yml@templates
  parameters:
    vstsFeedName: "Test"
