trigger:
- master

resources:
  repositories:
  - repository: templates
    type: github
    name: JeremyTCD/DevOps.AzurePipelines
    endpoint: JeremyTCD

jobs:
#- template: templates/nuget/main.yml@templates
#  parameters:
#    nugetRestoreEndpoint: "https://pkgs.dev.azure.com/JeremyTCD/_packaging/Main/nuget/v2"
#    nugetPushEndpoint: "https://pkgs.dev.azure.com/JeremyTCD/_packaging/Main/nuget/v2"
- template: templates/docs/main.yml@templates
  parameters:
    nugetRestoreEndpoint: "https://pkgs.dev.azure.com/JeremyTCD/_packaging/Main/nuget/v2"
    nugetRestorePat: "$(nugetRestorePat)"