@import '../../../node_modules/mimo-website/dist/styles/shared/constants';

#home {
    #page-header-logo {
        @media #{$media-narrow} {
            visibility: hidden;
        }
    }

    #core {
        border-top: none;
        // To avoid a flash of the footer
        min-height: calc(100vh - 95px);

        main {
            margin-bottom: 0;

            .jtcd-article {
                margin-top: 0;

                .title {
                    display: none;
                }

                .content {
                    align-items: center;

                    .logo {
                        // Must be above header
                        position: relative;
                        z-index: 2;
                        margin-top: 0;
                        opacity: 0;
                        transform: scale(0);
                        will-change: transform;

                        &.transitioned-in {
                            transition: opacity 0.2s $ease-out-quad, transform 0.5s $ease-out-back;
                            transform: scale(1);
                            opacity: 1;
                        }
                    }

                    .header-1, .header-1 + p {
                        opacity: 0;
                        text-align: center;

                        &.transitioned-in {
                            transition: opacity 0.3s $ease-out-quad, transform 0.3s $ease-out-quad;
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }

                    p {
                        max-width: 650px;
                    }

                    .header-1 {
                        padding-top: 0;
                        margin-top: 48px;
                        transform: translateY(21px);

                        &.transitioned-in {
                            transition-delay: 0.4s;
                        }

                        h1 {
                            @media #{$media-medium}, #{$media-wide} {
                                font-size: 32px;
                            }
                        }

                        &::after {
                            content: none;
                        }

                        div[role="button"] {
                            display: none;
                        }

                        & + p {
                            transform: translateY(21px);

                            &.transitioned-in {
                                transition-delay: 0.8s;
                            }

                            margin-top: 19px;
                        }
                    }
                }
            }
        }
    }
}
